
.PlayControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5em;
    color: white;
    padding-inline: 10px;
    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            transform: scale(1.2);
        }
        width: 35px;
        height: 35px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
